[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
[submodule "lib/uniswap-v3-core-0.8"]
	path = lib/uniswap-v3-core-0.8
	url = https://github.com/uniswap/v3-core
[submodule "lib/uniswap-v3-periphery-0.8"]
	path = lib/uniswap-v3-periphery-0.8
	url = https://github.com/uniswap/v3-periphery
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/abdk-libraries-solidity"]
	path = lib/abdk-libraries-solidity
	url = https://github.com/abdk-consulting/abdk-libraries-solidity
[submodule "lib/splits-pass-through-wallet"]
	path = lib/splits-pass-through-wallet
	url = https://github.com/0xSplits/splits-pass-through-wallet
[submodule "lib/splits-contracts-monorepo"]
	path = lib/splits-contracts-monorepo
	url = https://github.com/0xSplits/splits-contracts-monorepo
